@define-color background #16161D;
@define-color foreground #DCD7BA;
@define-color foreground-dark #ced9ed;
@define-color power #DCA561;
@define-color red #C34043;
@define-color orange #FF9E3B;
@define-color overlay #2A2A37;
