@define-color background rgba(17, 17, 28, 1);
@define-color foreground #DCD7BA;
@define-color foreground-blue #ced9ed;
@define-color power #DCA561;
@define-color white #f2f6fc;
@define-color overlay #2A2A37;
@define-color grey #272727;
@define-color red #C34043;