@import "colors.css";

* {
  font-family:
    "JetBrains Mono NerdFont", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 11;
}

#custom-start {
  background-color: @background;
  color: @foreground;
  border-radius: 18px 0 0 18px;
  padding: 0px 13px 0px 18px;
    font-family:
    "JetBrains Mono NerdFont";
  font-size:15.6;
} 

window#waybar {
  background-color: rgba(62, 62, 62, 0.0);
  border-radius: 0;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar > box {
  padding: 5px 0px;
}

button {
  box-shadow: inset 0px 1px transparent;
  border: none;
  border-radius: 18px;
}

button:hover {
  background: inherit;
  border: none;
}

#workspaces {
  background-color: @background;
  color: @foreground;
  border-radius: 0px 14px 14px 0px;
}

#workspaces button {
  border-radius: 12px;
  padding: 0px 13px; 
  color: inherit;
  background-color: transparent;
  transition: 0.3s ease-out;
  min-height: 0;
  min-width: 0;
  margin-top: 2;
  margin-bottom: 2;
  margin-left: 1;
  margin-right: 1;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
  background-color: @foreground-dark;
  color: @background;
}

#workspaces button.active:nth-child(1) {
  border-radius: 18px 18px 18px 18px;
}

#workspaces button.active:nth-last-child(1) {
  border-radius: 18px 18px 18px 18px;
}

#workspaces button.urgent {
  border-bottom: 1px solid @white;
  border-radius: 0;
}

#workspaces button.urgent:nth-child(1) {
  border-bottom: 1px solid @white;
  border-radius: 18px 0 0 18px;
}

#workspaces button.urgent:nth-last-child(1) {
  border-bottom: 1px solid @white;
  border-radius: 0 10px 10px 0;
}

#hardware {
  background-color: @background;
  color: @foreground;
  margin-left: 5px;
  border-radius: 18px;
  padding: 0px 15px;
}

#cpu {
  padding-right: 10px;
}

#memory {
  padding-left: 10px;
}

#window {
  background-color: @background;
  margin-left: 10px;
  border-radius: 18px;
  padding: 0px 13px;
}

#center {
  background-color: @background;
  border-radius: 18px;
  padding: 0px 16px;
}

#custom-cava,

#time {
  padding: 0px 4px 0px 0px;
  font-weight: 700;
  background-color: @background;
  color: @foreground;
}

#clock {
  padding: 0px 4px;
  border-radius: 18px 0 0 18px;
} 

#clock.simple {
  padding: 0px 4px;
  color: @foreground;
  border-radius: 18px;
  font-weight: 700;
}

#custom-swaync {
  color: @foreground;
  padding: 0px 2px;
  font-weight: 700;
}

#mpris {
  font-family: "JetBrains Mono NerdFont";
  font-size: 12;
  padding: 0 7px;
  background-color: @background;
  color: @foreground;
  border-radius: 18px;
  margin-right: 10px;
}

#custom-headset_battery {
  background-color: @background;
  color: @foreground;
  border-radius: 18px 0px 0px 18px;
  padding: 0px 0px 0px 13px;
}

#language {
  font-weight: 700;
  background-color: @background;
  color: @foreground;
  padding: 0px 10px 0px 7px;
  border-radius: 0px;
}

#zvuk {
  background-color: @background;
  color: @foreground;
}

#pulseaudio {
  border-radius: 0px;
  font-weight: 700;
  padding: 0px 5px 0px 8px;
}

#pulseaudio.output.muted {
  color: @red;
}

#pulseaudio.input.source-muted {
  color: @red;
}

#network {
  font-weight: 100;
  background-color: @background;
  color: @foreground;
  padding: 0px 15px 0px 4px;
  border-radius: 0px 18px 18px 0px;
  margin-right: 5px;
}

#custom-clipboard {
  background-color: @background;
  padding: 0px 17px 0px 1px;
  font-family: "JetBrains Mono NerdFont";
  font-size: 15.6;
}

#tray {
  padding: 0px 10px 0px 0px;
}

#custom-noscreenshare {
  font-family: "JetBrains Mono NerdFont";
  font-size: 15.6;
  padding: 0px 18px 0px 0px;
}

#custom-power {
  background-color: @background;
  font-family: "JetBrains Mono NerdFont";
  font-size: 15.4;
}

#ggg {
  background-color: @background;
  border-radius: 18px;  
  padding: 0px 11px;
  margin-left: 5px;
}

.modules-right {
  padding: 0px 10px;
}

.modules-left {
  padding: 0px 10px;
}

label:focus {
  background-color: #000;
}
