@import "colors.css";

* {
  font-family:"CaskaydiaCove Nerd Font Propo",JetBrains Mono NerdFont, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 11px;
	border: none;
  text-shadow: none;
  color:#dcd8ff;
}

#custom-start {
  padding: 0px 10px 0px 0px;
  font-family: "JetBrains Mono NerdFont";
  font-size:14.6px;
} 

window#waybar {
  background: transparent;
  transition-property: background-color;
  transition-duration: 0.6s;
}

window#waybar > box {
  background-color: rgba(0, 0, 0, 0);
  padding: 4px 0px;
}

#workspaces {
  padding: 0px 0px;
}

#workspaces button {
  border-radius: 8px;
  padding: 0px 10.5px 0px 6px; 
  color: @foreground-blue;
  min-height: 0px;
  min-width: 0px;
  margin-left: 2px;
  margin-right: 2px;
}

#workspaces button.active {
  border-radius: 10px;
}

#workspaces button:hover {
  background-color: alpha(@grey, 0.6);
  color: alpha(@foreground-blue, 0.2);
}

#workspaces button.urgent {
  border-bottom: 2px solid @white;
  border-radius: 5px;
}

#workspaces button.urgent:nth-child(1) {
  border-bottom: 1px solid @white;
  border-radius: 0px 18px 0px 18px;
}

#workspaces button.urgent:nth-last-child(1) {
  border-bottom: 1px solid @white;
  border-radius: 0px 10px 10px 0px;
}

#hardware {
  color: @foreground;
  border-radius: 18px;
  padding: 0px 1px 0px 8px;
  margin-right: 10px;
}

#cpu {
  padding-right: 1px;
}

#memory {
  padding-left: 10px;
}

#window {
  border-radius: 15px;
  padding: 0px 1px;
}

#custom-cava,

#custom-gpu {
  padding: 0px 8px;
}

#custom-cpu {
  padding: 0px 8px;
}

#time {
  padding: 0px 4px 0px 0px;
  font-weight: 700;
}

#clock {
  padding: 0px 4px;
} 

#clock.simple {
  padding: 0px 4px;
  font-weight: 700;
}

#custom-swaync {
  color: @foreground;
  padding: 0px 2px;
  font-weight: 700;
}

#mpris {
  padding: 0px 7px;
  border-radius: 18px;
  background-color: @background;
}

#custom-headset_battery {
  color: @foreground;
  font-size: 13px;
  color: @foreground-blue;
}

#zvuk {
  color: @foreground;
  padding: 0px 8px;
}

#pulseaudio {
  border-radius: 0px;
  font-weight: 700;
  padding: 0px 5px;
}

#pulseaudio.output.muted {
  color: @red;
}

#pulseaudio.input.source-muted {
  font-family: "JetBrains Mono NerdFont";
  color: @red;
}

#language {
  font-weight: 700;
  color: @foreground;
}

#bluetooth {
  font-family: "JetBrains Mono NerdFont";
  padding: 0px 10px;
  font-size: 14px;
}

#network {
  color: @foreground;
  padding: 0px 0px 0px 3px;
}

#backlight {
  padding: 0px 10px;
}

#tray {
  padding: 0px 0px;
}

#custom-noscreenshare {
  font-family: "JetBrains Mono NerdFont";
  font-size: 15.6px;
  padding: 0px 7px 0px 9.1px;
}

#custom-clipboard {
  color: @foreground;
  padding: 0px 7px;
  font-family: "JetBrains Mono NerdFont";
  font-size: 15.6px;
}

#custom-power {
  font-family: "JetBrains Mono NerdFont";
  font-size: 15.4px;
  padding: 0px 0px 0px 5px;
}

/* Group section */
#userspace {
  background-color: @background;
  border-radius: 18px;
  padding: 0px 14px; 
  margin-right: 10px;
}

#center {
  background-color: @background;
  border-radius: 18px;
  padding: 0px 12px;
}

#righty {
  background-color: @background;
  border-radius: 18px;
  padding: 0px 15px;
  margin-left: 10px;
}

#temper {
  background-color: @background;
  border-radius: 18px;
  padding: 0px 6px;
  margin-left: 10px;
}

#ggg {
  background-color: @background;
  border-radius: 18px;  
  padding: 0px 8px;
  margin-left: 10px;
}

.modules-right {
  padding: 0px 10px;
}

.modules-left {
  padding: 0px 10px;
}

label:focus {
  background-color: #222020;
}
